<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>
        <%=props.title%>
    </title>
    <link rel="stylesheet" href="/blog.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%=props.title%> - <%=props.description%>">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MT82HHR67Y"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.5.0/p5.min.js"
        integrity="sha512-WJXVjqeINVpi5XXJ2jn0BSCfp0y80IKrYh731gLRnkAS9TKc5KNt/OfLtu+fCueqdWniouJ1ubM+VI/hbo7POQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-MT82HHR67Y');
    </script>
    <script src="/bg.js"></script>
    <meta property="og:site_name" content="coolelectronics's blog">
    <meta property="og:url" content="https://coolelectronics.me">
    <meta name="theme-color" content="#4c3e51">

    <meta property="og:title" content="<%=props.title%>">
    <meta property="og:description" content="<%=props.description%>">

</head>


<html>

<body>
    <div id="canvascontainer"></div>
    <div id="topbar">
        <h0 id="title">
            <%=props.title%>
        </h0>
    </div>
    <div id="content">
        <div id="opacityhack"></div>

        <div id="centerhack">
            <div id="innercontent">
                <%- content %>
            </div>
        </div>
    </div>

    <div id="bottombar">
        <% if (prev) { %>
            <a href="<%=prev.url%>" class="preview previewM">
                <h5>
                    <%=prev.title%>
                </h5>
                <h3>
                    <%=prev.description%>
                </h3>
                <h6>
                    <%=prev.date%>
                </h6>
            </a>
            <% } else { %>
                <p>you reached the start</p>
                <% } %>
                    <div id="bottomlinks">
                        <a class="text" id="homebutton" href="/blog">
                            Home
                        </a>
                        <br class="spacer">
                        <a class="text" id="analytics" href="https://support.google.com/analytics/answer/7318509?hl=en">
                            there are cookies living inside your walls
                        </a>
                    </div>
                    <% if (next) { %>
                        <a href="<%=next.url%>" class="preview previewM">
                            <h5>
                                <%=next.title%>
                            </h5>
                            <h3>
                                <%=next.description%>
                            </h3>
                            <h6>
                                <%=next.date%>
                            </h6>
                        </a>
                        <% } else { %>
                            <p>you reached the end</p>
                            <% } %>
    </div>
</body>

</html>
