<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>CoolElectronics's Blog</title>
    <link rel="stylesheet" href="/blog.css">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MT82HHR67Y"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-MT82HHR67Y');
    </script>
</head>

<body>
    <div id="topbar">
        <h1 id="title">
            CoolElectronics's Blog
        </h1>
        <code>
            <%=quote%>
        </code>
    </div>
    <h4 class="center">Congratulations Lucky Visitor! You are the <%=num%>th person to visit this page! Your reward is
            to get to
            listen to
            my
            incoherent ramblings</h4>

    <div id="postlist">
        <% posts.forEach(preview=>{ %>
            <a href="<%=preview.url%>" class="preview previewS">
                <h3>
                    <%=preview.title%>
                </h3>
                <h5>
                    <%=preview.description%>
                </h5>
                <h6>
                    <%=preview.date%>
                </h6>
            </a>
            <% }); %>
    </div>
    <div id="content">
        <!-- this is filler -->
    </div>


    <div id="bottombar">
        <div id="bottomlinks">
            <a class="text" id="homebutton" href="/">
                Home
            </a>
            <br class="spacer">
            <a class="text" id="analytics" href="https://support.google.com/analytics/answer/7318509?hl=en">
                there are cookies living inside your walls
            </a>
        </div>
    </div>
</body>

</html>